*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.drop {
    margin-left: 23rem;
}
/*banner sec start*/
.bann{
    padding: 100px 30px;
    background-image: url(./img/main-bg.png);
    background-size: cover;
    background-position: center;
}
.active{
    background-color: #f7f7f7;
    color: #000;
}
.banner-sec .nav-link:hover {
    background-color: #f7f7f7;
    color: #000;
}
.card-user{
    background-color: #E3F0FF;
}
/*offer*/
.offer-card {
    width: 14rem;
    height: 41vh;
    padding: 5px 10px;
}
.pink{
    background-color: #FFE3E3 !important;
}
/*home decor sec*/
.home-decor .home{
    background-image: url(img/home.png);
    padding: 60px 20px;
    background-size: cover;
    background-position: center;
}
.home-decor h4{
    margin-top: 3rem;
}
.crd-decor{
    width: 18rem;
}
.crd-decor .card-body .img-box img{
    margin-left: 8rem;
    width: 71px;
}
.coffee{
    width: 81px !important;
}
.camera{
    padding: 18px 10px !important;
}
.electronic .home{
    background-image: url(img/eletronic-bg.png);
    padding: 60px 20px;
    background-size: cover;
    background-position: center;
}
/*Supplier-sec*/
.supplier-sec {
    padding: 50px 30px;
    background-image: url(img/supplier-bg.png);
    background-size: cover;
    background-position: center;
}
/* countdown*/
.countdown{
    gap: 1rem;
}
.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #555;
    color: #fff;
    padding: 15px;
    width: 60px;
    border-radius: 8px;
    text-align: center;
  }
  
  .time-box span {
    font-size: 24px;
    font-weight: bold;
  }
  
  .time-box p {
    font-size: 12px;
    margin-top: 5px;
  }
.supplier-sec form {
    padding: 40px 20px;
}
/*suscribe-sec*/
.subscribe-sec {
    background-color: #BDC4CD;
}
/*Recommednded sec*/
/*extra services*/
.filter {
    filter: contrast(1.5);
}
/*news-sec*/
.news-sec {
    background-color: #9d9898;
    padding: 75px 18px;
}
.news-sec form {
    margin-left: 39%;
}
/*categories*/
.categories{
    gap: 1rem;
}
.categories p {
    margin: 1rem;
}
/* footer*/
footer{
    padding: 75px 18px;
}
.copyright-sec {
    background-color: #BDC4CD;
}
/*responsive start */
@media screen and (max-width: 1199px) {
    .drop {
        margin-left: 2rem;
    }
    .time-box span {
        font-size: 18px;
        font-weight: bold;
    }
    .countdown{
        gap: .4rem;
    }
}
@media screen and (max-width: 991px){
    .drop {
        margin-left: 1rem;
    }
    .home-decor .home {
        display: none;
    }
    .sidebar{
        display: none;
    }
    .crd{
        display: none;
    }
    .bann{
        width: 100%;
    }
    .categories {
        gap: 0.25rem;
    }
    .categories p {
        margin: 0.25rem;
    }
    .lamp{
        margin-left: .25rem;
    }
    .bad{
        margin-left: 0rem;
    }
    .margin{
        margin: 50px;
    }
    .crd-decor .card-body .img-box img {
        margin: 20px 54px;
        gap: 1rem;
    }
    .deals{
        display: none;
    }
    .items{
        margin-left: 14%;
    }
    .recommended-sec .card{
        width: 12rem;
    }
}
@media screen and (max-width: 767){
    
}